[submodule "dot_nvim"]
	path = dot_nvim
	url = git://github.com/w40141/dot_nvim.git
[submodule "dot_zsh"]
	path = dot_zsh
	url = git://github.com/w40141/dot_zsh.git
[submodule "dot_fish"]
	path = dot_fish
	url = git://github.com/w40141/dot_fish.git
[submodule "iTerm/iterm_dracula"]
	path = iTerm/iterm_dracula
	url = https://github.com/dracula/iterm.git
