.DS_Store
/.config/vim
/.config/dot_zsh/.zcompdump
/.config/configstore
/.config/fisher
/.config/yarn/
/.config/fish/*
!/.config/fish/config.fish
!/.config/fish/fishfile
/.jupyter
/.config/coc/*
!/.config/coc/extensions
!/.config/coc/ultisnips
/.config/coc/extensions/*
!/.config/coc/extensions/package.json
sessions
snippets
