.DS_Store
/config/zsh/.zcompdump
/config/zsh/.zsh_sessions
/config/zsh/.zsh_history
/config/yarn/*
!config/yarn/global
/config/yarn/global/*
!/config/yarn/global/package.json
/config/fish/*
!/config/fish/config.fish
!/config/fish/fish_plugins
/config/nvim/plugin/**
# !/config/fish/conf.d
# /config/fish/conf.d/*
# !/config/fish/conf.d/abbr.fish
/.jupyter
/config/coc/*
!/config/coc/extensions
!/config/coc/ultisnips
/config/coc/extensions/*
!/config/coc/extensions/package.json
sessions
snippets
*.lock
/config/eskk
/config/gh/hosts.yml
node_modules
