academic==0.4.0
alabaster==0.7.12
ansicolor==0.2.6
apipkg==1.5
appnope==0.1.0
astroid==2.2.5
atomicwrites==1.3.0
attrs==19.1.0
autopep8==1.4.4
Babel==2.7.0
backcall==0.1.0
beautifulsoup4==4.8.0
bibtexparser==1.1.0
bleach==3.1.0
blessings==1.7
blueqat==0.3.9
bpython==0.18
certifi==2019.6.16
chainer==6.2.0
chardet==3.0.4
cimsdk==0.8.0
Click==7.0
colorama==0.4.1
coverage==4.5.4
curtsies==0.3.0
cvxopt==1.2.3
cycler==0.10.0
Cython==0.29.13
ddt==1.2.1
decorator==4.4.0
defusedxml==0.6.0
dimod==0.8.15
docopt==0.6.2
docutils==0.15.2
dwave-cloud-client==0.6.0
dwave-hybrid==0.3.1
dwave-neal==0.5.1
dwave-networkx==0.8.1
dwave-ocean-sdk==1.4.0
dwave-qbsolv==0.2.10
dwave-system==0.7.5
dwave-tabu==0.2.0
dwavebinarycsp==0.0.11
entrypoints==0.3
execnet==1.7.0
filelock==3.0.12
flake8==3.7.8
flake8-bugbear==19.8.0
flake8-isort==2.7.0
flake8-polyfill==1.0.2
flake8-pyi==19.3.0
future==0.17.1
get==2019.4.13
gitdb2==2.0.5
GitPython==3.0.1
greenlet==0.4.15
h5py==2.9.0
homebase==1.0.1
html5lib==1.0.1
idna==2.8
imagesize==1.1.0
importlib-metadata==0.19
ipykernel==5.1.2
ipython==7.7.0
ipython-genutils==0.2.0
ipywidgets==7.5.1
-e git+git@togawa-gitlab:ising/IsingLib.git@55532fd756a538c80b1fafe38bd6624ab82fdffa#egg=IsingLib
isort==4.3.21
jedi==0.15.1
Jinja2==2.10.1
joblib==0.13.2
json5==0.8.5
jsonschema==3.0.2
jupyter==1.0.0
jupyter-client==5.3.1
jupyter-console==6.0.0
jupyter-contrib-core==0.3.3
jupyter-contrib-nbextensions==0.5.1
jupyter-core==4.5.0
jupyter-highlight-selected-word==0.2.0
jupyter-latex-envs==1.4.6
jupyter-nbextensions-configurator==0.4.1
jupyterlab==1.0.6
jupyterlab-git==0.8.1
jupyterlab-server==1.0.4
Keras==2.2.4
Keras-Applications==1.0.8
Keras-Preprocessing==1.1.0
kiwisolver==1.1.0
kmeans==1.0.2
lazy-object-proxy==1.4.1
llvmlite==0.29.0
lxml==4.4.1
mando==0.6.4
MarkupSafe==1.1.1
matplotlib==3.1.1
mccabe==0.6.1
minorminer==0.1.8
mistune==0.8.4
more-itertools==7.2.0
msgpack==0.6.1
mypy==0.720
mypy-extensions==0.4.1
nbconvert==5.6.0
nbdime==1.1.0
nbformat==4.4.0
neovim==0.3.1
networkx==2.3
notebook==6.0.0
numba==0.45.1
numpy==1.17.0
opencv-contrib-python==4.1.0.25
opencv-python==4.1.0.25
openjij==0.0.7
ortools==7.3.7083
packaging==19.1
pandas==0.25.0
pandocfilters==1.4.2
parso==0.5.1
penaltymodel==0.16.2
penaltymodel-cache==0.4.0
penaltymodel-mip==0.2.1
pep8==1.7.1
peppercorn==0.6
pexpect==4.7.0
pickleshare==0.7.5
pip-review==1.0
pipdeptree==0.13.2
plucky==0.4.3
pluggy==0.12.0
post==2019.4.13
prometheus-client==0.7.1
prompt-toolkit==2.0.9
protobuf==3.9.1
psutil==5.6.3
ptyprocess==0.6.0
public==2019.4.13
py==1.8.0
pycodestyle==2.5.0
pydocstyle==4.0.1
pyflakes==2.1.1
Pygments==2.4.2
pygraphviz==1.5
pylint==2.3.1
pynvim==0.3.2
pyparsing==2.4.2
pyqubo==0.4.0
pyrsistent==0.15.4
PySnooper==0.2.5
PySocks==1.7.0
pytest==5.1.0
pytest-cov==2.7.1
pytest-forked==1.0.2
pytest-xdist==1.29.0
python-dateutil==2.8.0
python-shogi==1.0.9
pytz==2019.2
PyYAML==5.1.2
pyzmq==18.1.0
qtconsole==4.5.3
query-string==2019.4.13
radon==3.0.3
request==2019.4.13
requests==2.22.0
sampleproject==1.3.0
scikit-learn==0.21.3
scipy==1.3.1
Send2Trash==1.5.0
simplegeneric==0.8.1
six==1.12.0
sklearn==0.0
smmap2==2.0.5
snowballstemmer==1.9.0
soupsieve==1.9.3
Sphinx==2.2.0
sphinxcontrib-applehelp==1.0.1
sphinxcontrib-devhelp==1.0.1
sphinxcontrib-htmlhelp==1.0.2
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.2
sphinxcontrib-serializinghtml==1.1.3
tbb==2019.0
terminado==0.8.2
testfixtures==6.10.0
testpath==0.4.2
Theano==1.0.4
toml==0.10.0
tornado==6.0.3
tox==3.13.2
traitlets==4.3.2
typed-ast==1.4.0
typeshed==0.0.1
typing==3.7.4
typing-extensions==3.7.4
urllib3==1.25.3
vcopt==1.5.4
vim-vint==0.3.21
virtualenv==16.7.3
wcwidth==0.1.7
webencodings==0.5.1
widgetsnbextension==3.5.1
wildqat==1.1.9
wrapt==1.11.2
xenon==0.5.5
yapf==0.28.0
yellowbrick==0.9.1
zipp==0.5.2
