academic==0.3.1
ansicolor==0.2.6
apipkg==1.5
appnope==0.1.0
atomicwrites==1.3.0
attrs==19.1.0
autopep8==1.4.4
backcall==0.1.0
beautifulsoup4==4.7.1
bibtexparser==1.1.0
bleach==3.1.0
blessings==1.7
blueqat==0.3.7
bpython==0.18
certifi==2019.3.9
chainer==5.4.0
chardet==3.0.4
cimsdk==0.8.0
Click==7.0
colorama==0.4.1
coverage==4.5.3
curtsies==0.3.0
cvxopt==1.2.3
cycler==0.10.0
Cython==0.29.7
decorator==4.4.0
defusedxml==0.6.0
dimod==0.8.12
docopt==0.6.2
dwave-cloud-client==0.5.4
dwave-hybrid==0.2.1
dwave-neal==0.4.6
dwave-networkx==0.7.1
dwave-ocean-sdk==1.3.0
dwave-qbsolv==0.2.10
dwave-system==0.7.3
dwave-tabu==0.1.4
dwavebinarycsp==0.0.11
entrypoints==0.3
execnet==1.6.0
filelock==3.0.10
flake8==3.7.7
flake8-bugbear==19.3.0
flake8-isort==2.7.0
flake8-polyfill==1.0.2
flake8-pyi==19.3.0
future==0.17.1
greenlet==0.4.15
h5py==2.9.0
homebase==1.0.1
html5lib==1.0.1
idna==2.8
ipykernel==5.1.0
ipython==7.5.0
ipython-genutils==0.2.0
ipywidgets==7.4.2
-e git+git@togawa-gitlab:ising/IsingLib.git@8e419195899a8c526bb04bc95cb3b30e8e7916c3#egg=IsingLib
isort==4.3.20
jedi==0.13.3
Jinja2==2.10.1
joblib==0.13.2
jsonschema==3.0.1
jupyter==1.0.0
jupyter-client==5.2.4
jupyter-console==6.0.0
jupyter-contrib-core==0.3.3
jupyter-contrib-nbextensions==0.5.1
jupyter-core==4.4.0
jupyter-highlight-selected-word==0.2.0
jupyter-latex-envs==1.4.6
jupyter-nbextensions-configurator==0.4.1
Keras==2.2.4
Keras-Applications==1.0.7
Keras-Preprocessing==1.0.9
kiwisolver==1.1.0
kmeans==1.0.2
llvmlite==0.28.0
lxml==4.3.3
mando==0.6.4
MarkupSafe==1.1.1
matplotlib==3.0.3
mccabe==0.6.1
minorminer==0.1.8
mistune==0.8.4
more-itertools==7.0.0
msgpack==0.6.1
mypy==0.701
mypy-extensions==0.4.1
nbconvert==5.5.0
nbformat==4.4.0
neovim==0.3.1
networkx==2.3
notebook==5.7.8
numba==0.43.1
numpy==1.16.3
openjij==0.0.4
ortools==7.1.6720
packaging==19.0
pandas==0.24.2
pandocfilters==1.4.2
parso==0.4.0
penaltymodel==0.16.2
penaltymodel-cache==0.4.0
penaltymodel-mip==0.2.1
pep8==1.7.1
peppercorn==0.6
pexpect==4.7.0
pickleshare==0.7.5
pip-review==1.0
pipdeptree==0.13.2
plucky==0.4.3
pluggy==0.11.0
prometheus-client==0.6.0
prompt-toolkit==2.0.9
protobuf==3.7.1
psutil==5.6.2
ptyprocess==0.6.0
py==1.8.0
pycodestyle==2.5.0
pyflakes==2.1.1
Pygments==2.4.0
pynvim==0.3.2
pyparsing==2.4.0
pyqubo==0.3.0
pyrsistent==0.15.2
PySnooper==0.0.38
PySocks==1.7.0
pytest==4.5.0
pytest-cov==2.7.1
pytest-forked==1.0.2
pytest-xdist==1.28.0
python-dateutil==2.8.0
pytz==2019.1
PyYAML==5.1
pyzmq==18.0.1
qtconsole==4.4.4
radon==3.0.1
requests==2.21.0
sampleproject==1.2.0
scikit-learn==0.21.0
scipy==1.2.1
Send2Trash==1.5.0
simplegeneric==0.8.1
six==1.12.0
sklearn==0.0
soupsieve==1.9.1
tbb==2019.0
terminado==0.8.2
testfixtures==6.8.2
testpath==0.4.2
Theano==1.0.4
toml==0.10.0
tornado==6.0.2
traitlets==4.3.2
typed-ast==1.3.5
typeshed==0.0.1
typing==3.6.6
urllib3==1.24.3
vim-vint==0.3.19
virtualenv==16.5.0
wcwidth==0.1.7
webencodings==0.5.1
widgetsnbextension==3.4.2
wildqat==1.1.9
xenon==0.5.5
